* {
    margin: 0px;
    padding: 0px;
    background-color: #212121;
    color: white;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    padding: 8px 2%;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #212121;
}

.nav-middle {
    width: 470px;
}

.box {
    align-items: unset;
    width: 100%;
}

.nav-middle .box input{
    background-color: black;
    padding: 0 10px;
    height: 40px;
    width: 390px;
    font-size: large;
    border: 1px solid #474545;
}



/* Video Container */

.root-container {
    padding-left: 2%;
    background-color: blueviolet;
}